{% extends "layout.html" %}
{% block content %}
<h3>けいけんを積む</h3>
<h3>{{ onair[0] }}</h3>
<div class="media">
    <div class="media__body">
        <div class="media__title">{{ onair[1] }}</div>
        <div class="media__excerpt">{{ onair[2] }}<br/>{{ onair[3] }}<br/>{{ onair[4] + "　" + onair[5] + " - " + onair[6] }}<br/>{{ onair[7] }}</div>
    </div>
</div>
<p>この番組を{{ keika }}分けいけん中</p>
<script>
setTimeout(function () {
    location.reload();
}, 60000); // 60秒で再読み込み
</script>
{% endblock %}